---
interface Props {
  user: string
}

const {user} = Astro.props
---


<main>
	<div class="container">
		<header>
			<h1>Welcome</h1>
            <span class="mail">{user}</span>
		</header>
		<section >
			<p>This is the home</p>
		</section>
        <footer>
            <form action="/api/auth/signout">
                <button type="submit">Sign out</button>
            </form>
        </footer>
	</div>
</main>

<style>
	main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color:darkgrey;
    }
	.container {
        font-size: larger;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        width: 30%;
        margin: 0 auto;
        gap: 0.5rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    }
    header{
        width: 100%;
    }
    h1{
        margin: 0.3em;
    }
    .mail{
        font-size: 1.2rem;
    }
	@media (max-width: 900px) {
        .container {
            width: 60%;
        }
    }
    @media (max-width: 600px) {
        .container {
            width: 80%;
        }
    }
</style>
