---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---


<main>
	<div class="container">
		<header>
			<h1>Welcome</h1>
		</header>
		<section >
			<button class="button-submit" type="button">
				Logout
			  </button>
		</section>
	</div>
</main>

<style>
	main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color:darkgrey;
    }
	.container {
        font-size: larger;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        width: 30%;
        margin: 0 auto;
        gap: 0.5rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    }
	@media (max-width: 900px) {
        .container {
            width: 60%;
        }
    }
    @media (max-width: 600px) {
        .container {
            width: 80%;
        }
    }
</style>

<script>
	const buttonLogout = document.querySelector('button')

	if(buttonLogout){
		buttonLogout.addEventListener('click', () =>{
			sessionStorage.setItem('isLoggedIn', 'false')
    		window.location.href = '/login'
		})
	}

	
</script>
